/* Global styles for your project */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --color-bg: #121212;
  --color-text: #FFFFFF;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #404040;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin-top: 30px;
}

main {
  padding: 1rem 10vw;
  display: flex; 
}

/* Typography */
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

input {
  display: inline-block; 
  outline: none;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  padding: 5px 10px;
}

fieldset {
  border: none;
  padding: 1rem 0;
  font-size: 1.25rem;
}

code {
  overflow-x: scroll;
}

/* Navbar styles */
.navbar {
  height: 60px;
  width: 100%;
  background: #181818;
  color: var(--color-text);
  position: fixed;
  top: 0;
  padding: 0 10vw;
  font-weight: bold;
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img.avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.dropdown-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar-menu-btn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.display-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.avatar-menu {
  position: relative;
}

.avatar-menu-username {
  font-size: 0.9em;
  color: var(--color-blue);
  margin: 0;
}

.avatar-dropdown {
  position: absolute;
  top: 60px;
  right: 6.5vw;
  background: #181818;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  width: 15vw;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
}

.avatar-dropdown.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.avatar-dropdown button {
  background: #282828;
  border: none;
  color: var(--color-text);
  padding: 20px 25px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.avatar-dropdown button:hover {
  background: #383838;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  width: 75vw;
  height: 100vh;
  right: 0;
  background: #181818;
  border-left: 2px solid var(--color-gray);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
}

.dropdown-menu.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu h3 {
  margin: 0.5rem 0 0 0.0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dropdown-comment {
  line-height: 1.5rem;
  justify-content: center;
  color: gray;
  font-weight: normal;
}

.dropdown-menu button,
.dropdown-menu p,
.dropdown-menu img, 
.dropdown-menu a {
  margin: 10px 0;
}

.dropdown-menu img {
  width: 75px;
  height: 75px;
} 

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  width: 75vw;
  height: 100vh;
  right: 0;
  background: #181818;
  border-left: 2px solid var(--color-gray);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.dropdown-menu.show {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.dropdown-menu h3 {
  margin: 0.5rem 0 0 0.0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.dropdown-comment {
  line-height: 1.5rem;
  justify-content: center;
  color: gray;
  font-weight: normal;
}

.dropdown-menu button,
.dropdown-menu p,
.dropdown-menu img, 
.dropdown-menu a {
  margin: 10px 0;
}

.dropdown-menu img {
  width: 75px;
  height: 75px;
} 

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .hamburger {
    display: block;
  }
}


/* Filter Bar Styles */

.filter-bar {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.filter-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.filter-bar li {
  border-radius: 50%;
}

/* Button styles */
.btn, button {
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 0.75rem 1.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0;
}

.like-btn {
  margin: 0.5rem 1rem ;
}

button:hover {
  filter: brightness(90%);
}

button:disabled,
button[disabled] {
  filter: brightness(80%);
}

button.btn-blue {
  background-color: var(--color-blue);
  color: white;
}

button.filter-btn {
  background-color: var(--color-bg);
  font-weight: normal;
  color: #BFBFBF;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

button.btn-full-width {
  width: 100%; /* Take up the full width of the parent element */
}

.filter-btn.active {
  color: white; /* Color for active button */
  font-weight: bold; /* Bold the active button */
}

button.btn-red {
  background-color: var(--color-red);
  color: white;
}

button.btn-green {
  background-color: var(--color-green);
  color: white;
}

button.btn-google {
  background-color: #212121;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: black;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

button.btn-edit {
  display: flex;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.icon {
  margin-right: 10px;
}

.share-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Post Styles */

.post-content {
  margin: 0 auto; 
  padding: 1rem; 
  line-height: 2;
  font-size: 20px;
  max-width: 1000px; 
  overflow-wrap: break-word;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  line-height: 1.25;
  font-weight: bolder;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.post-content p {
  margin-bottom: 1.5em; 
}

.post-content a {
  color: #016fff;
  text-decoration: none; 
}

.post-content a:hover {
  text-decoration: underline;
}

.post-content ul, .post-content ol {
  margin: 1.5em 0;
  padding-left: 2rem; 
}

.post-content ul li, .post-content ol li {
  margin-bottom: 0.5em;
}

.post-content img {
  max-width: 100%; 
  height: auto; 
  display: block;
  margin: 1.5em auto;
}

/* Card styles */
.card {
  margin: 1rem 0;
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  width: auto;
}

.card-content {
  padding: 2rem;
}

.card-center {
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-side {
  padding: 1rem;
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 470px;
  top: 20px;
  margin-bottom: 1rem;
  flex: 0 0 250px;
}

.card-tech {
  display: flex;
  flex-direction: column;
  height: 350px;
  top: 20px;
  flex: 0 0 300px;
  width: 100%;
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  padding: 1rem;

}

.card-tech ul {
  list-style-type: none;
  padding: 0;
  overflow-y: hidden; 
  margin: 0;
}

.card-tech ul:hover {
  overflow-y: scroll; /* Show scrollbar on hover */
}

.card-tech ul::-webkit-scrollbar {
  width: 8px;
}

.card-tech ul::-webkit-scrollbar-track {
  background: transparent;
}

.card-tech ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card-tech ul:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}

.card-tech p {
  margin-top: 0;
  margin-bottom: 0.25rem;
  color: #B3B3B3;
}

.tech-button {
  background-color: #282828;
  margin: 0.5rem 0;
  font-size: 16px;
  width: 100%;
  text-align: left !important;
  padding-left: 0px; 
  padding-right: 5px;
  padding-bottom: 0px;
  border: none; 
  color: white; 
  align-items:  left;
  text-align: left;
  justify-content: space-between;
}

.card-tech h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card-tags {
  padding: 1rem;
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 530px;
  top: 20px;
  flex: 0 0 300px;
  width: 100%;
}

.card-tags ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tag-button {
  background: #282828;
  margin: 0.5rem 0;
  font-size: 16px;
  width: 100%;
  text-align: left !important; /* Align text to the left */
  padding-left: 0px; 
  padding-bottom: 0px;
  border: none; 
  color: white; /* Ensure text color contrasts with background */
  align-items:  left;
  text-align: left;
  justify-content: left;
}

.frequency {
  color: #B3B3B3;
  font-style: italic;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-tags h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card-tags p {
  margin-top: 0;
  margin-bottom: 0.25rem;
  color: #B3B3B3;
}

.card-text {
  line-height: 1.5;
  text-justify: inter-word;
}

.card-div {
  flex: 1;
  margin-left: 20px;
}

.card footer {
  display: flex;
}

.image-label {
  position: relative;
  display: inline-flex;
  width: 150px; /* Set to match the image size */
  height: 150px; /* Set to match the image size */
}

.card-img-center {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-gray);
  transition: filter 0.3s ease;
}

.card-img-center:hover {
  cursor: pointer;
  filter: brightness(0.7);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.upload-icon {
  color: white;
  font-size: 2em;
}

.image-label:hover .overlay {
  opacity: 1;
}

.image-label input[type="file"] {
  display: none; /* Hide the file input */
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Loader styles */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset white;
  animation: l5 2.5s infinite;
}

.loader:after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5 {
  0% { inset: 0 35px 35px 0; }
  12.5% { inset: 0 35px 0 0; }
  25% { inset: 35px 35px 0 0; }
  37.5% { inset: 35px 0 0 0; }
  50% { inset: 35px 0 0 35px; }
  62.5% { inset: 0 0 0 35px; }
  75% { inset: 0 0 35px 35px; }
  87.5% { inset: 0 0 35px 0; }
  100% { inset: 0 35px 35px 0; }
}

/* File upload styles */
input[type="file"] {
  display: none;
}

.upload-snippet {
  width: 75%;
  margin-left: auto;
  background: #404040;
  padding: 5px;
  margin: 5px 0;
}

.imageUploader {
  width: 100%;
  height: auto; 
  background-color: var(--color-gray);
  border: none;
  color: var(--color-text);
  padding: 0.75rem 1.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 14px;
}

/* Utility styles */
.push-left {
  margin-left: auto;
}

.desktop-search {
  width: 100%;
}

.left-side {
  width: 250px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* optional, to center the items */
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin-left: 1.2rem;
  gap: 1rem;
}


.comment {
  line-height: 1.5rem;
  justify-content: center;
  color: gray;
}

.list-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* Search Bar */
.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.search-component {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.search-box-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}

.search-box .ais-SearchBox-input {
  width: 100%;
  padding: 10px 10px 10px 40px; /* Add padding to the left for the icon */
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  color: white;
  background-color: #282828;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

.search-box .ais-SearchBox-input:focus {
  border-color: #007bff;
  outline: none;
}

.search-component .suggestions {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #282828;
  color: white;
  border: 1px solid white;
  border-top: none;
  z-index: 10;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px; /* Match the input border radius */
  padding: 0;
  list-style: none;
  margin: 0;
  list-style-type: none;
  width: 100%;
}

.suggestions ul {
  padding: 0;
  margin: 0;
}

.suggestions li {
  list-style-type: none; /* Ensure no list style for list items */
}

.hit {
  padding: 10px;
  border-bottom: 1px solid #444;
  transition: background-color 0.2s;
  cursor: pointer;
  width: 100%;
}

.hit:hover {
  background-color: #383838;
}

.hit h3 {
  margin: 5px 0 5px 0;
  font-size: 20px;
  color: white;
}

.hit p {
  margin: 0;
  font-size: 14px;
  color: #bbb;
}

/* Suggestion Bar */

.messageBox {
  width: 100%;
  min-height: fit-content;
  height: 2rem;
  text-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  color: white;
  border-radius: 10px;
  border: 1px solid rgb(63, 63, 63);
  padding: 0.5rem;
}

.messageBox.suggestion {
  height: 5rem;
}

.messageBox.description {
  height: 5rem;
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#messageInput {
  font-size: 18px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

#messageInput:focus ~ #sendButton svg path,
#messageInput:valid ~ #sendButton svg path {
  fill: #3c3c3c;
  stroke: white;
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

/* Tag Styles */
.tag {
  color: white;
  border: 2px solid black;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 5px;
  display: inline-block;
  border-radius: 8px;
}

.tag-container {
  gap: 5px; 
  padding: 0.5rem 2rem 0rem 2rem;
  height: auto;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}

.icon-tag {
  border: 2px solid black;
  width: 30px; /* Set a fixed width */
  height: 30px; /* Set the same height */
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  cursor: pointer;
  margin-right: 5px;
  border-radius: 8px;
}

.full-tag {
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0;  
  padding-right: 15px;
  cursor: pointer;
}

.tag-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  width: 500px;
  height: 300px;
}

.tag-card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag-card-button {
  align-self: flex-end;
  margin-top: auto;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

/* Repo Styling */
.repo-card {
  margin-top: 20px;
  text-align: left;
  border-top: 1px solid var(--color-gray);
  padding: 20px;
  padding: 2rem 0rem 0rem 0rem;
}

.repo-link {
  text-decoration: none;
  color: inherit;
}

.repo-content {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  transition: background-color 0.3s;
}

.repo-content:hover {
  background-color: #383838;
}

.repo-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.repo-details {
  flex: 1;
}

.repo-details h3 {
  margin: 0;
  font-size: 18px;
}

.repo-details p {
  margin: 5px 0;
  color: gray;
}

.repo-stats {
  display: flex;
  gap: 10px;
  color: gray;
}

/* Profile Styles */

.profile-header {
  margin: 1rem 0 0 0;
}

.profile-username {
  margin: 0.5rem 0 0 0;
}

.profile-description {
  margin: 2rem 0 2rem 0;
}

.profile-card {
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  width: 80rem;
  padding: 2rem 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.profile-container {
  display: flex;
  width: 80rem;
  justify-content: center;
}

.name-inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 1.5rem;
}

.name-input {
  font-size: medium;
  width: 40%;
}

.description-input {
  width: 100%;
  font-size: medium;
  margin-bottom: 1.5rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 0;
}

/* UserCard styles */

.user-card {
  margin: 1rem 0;
  background-color: #282828;
  border: 1px solid var(--color-gray);
  border-radius: 8px;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column; /* Flexbox for the content */
}

.user-card h1 {
  margin: 0.5rem 0 0 0.0;
  font-size: 1.7rem;
}

.user-card-username {
  margin-top: 0.3rem;
  font-weight: bold;
  color: var(--color-blue);
  cursor: pointer;
}

.user-card-description {
  text-justify: inter-word;
  line-height: 1.5rem;
  margin: 1.5rem 0 1.5rem 0;
  text-align: center;
}

.user-card-content {
  padding: 2rem;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-card-img-center {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  border: 1px solid var(--color-gray);
}

.user-card-details {
  border-top: 1px solid var(--color-gray);
  width: 100%;
}

.user-card-detail {
  margin: 1rem 0;
}

.user-card-detail h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.user-card-detail p{
  margin: 0;
}

.share-component {
  margin-top: 1rem;
  border-top: var(--color-gray) 1px solid;
  display: inline-block;
  width: 100%;
}

/* Suggestions Page Styles */
.suggestions-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.suggestion-card {
  border: 1px solid var(--color-gray);
  padding: 20px;
  border-radius: 5px;
  background-color: #282828;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestion-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.suggestion-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.suggestion-actions {
  display: flex;
  margin-top: 10px;
}

.suggestion-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.suggestion-actions button:hover {
  opacity: 0.8;
}

.suggestions-page {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tabs {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  margin-top: 0;
  margin-right: 2rem;
}

.tabs button {
  padding: 12px 15px;
  margin: 1rem 1rem;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
}

/* Additional User Details Styles */

.additional-details {
  width: 350px;
  text-align: center;
  margin-right: 5rem;
}

.additional-detail {
  padding: 5px 10px;
  border: var(--color-gray) 1px solid;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

/* User Tech Stack Component */

.user-tech-card {
  width: 350px;
  text-align: center;
  margin-right: 5rem;
}

.user-tech-card button {
  margin-right: 0;
}

.user-tech-card h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

/* New Post Page */

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  min-height: 80vh;  
  margin-bottom: 5rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.new-post-container form {
  width: 100%;
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {

  form {
    width: 100%; /* Full width */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .new-post-container {
    text-align: center;
    margin: 0.5rem;
  }

  .new-post-container button{
    margin: 0;
  }

  .additional-details {
    width: 100%;
    margin-right: 0;
  }

  .search-component .suggestions {
    flex-direction: column; /* Ensure search results display in a column */
    width: 100%; /* Adjust width to fill the container */
  }

  .hit {
    width: 100%; /* Ensure hits take full width */
  }

  .profile-container {
    display: inline-block;
    justify-content: center;
    width: 100%;
  }

  .box-center {
    padding: 1rem;
  }

  .profile-card {
    width: 100%;
  }

  .card-tags {
    display: none;
  }

  .card-tech {
    display: none;
  }

  .card-div {
    margin-left: 0;
  }

  .card-img-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .card {
    width: 100%;
  }

  .filter-bar ul {
    justify-content: center;
  }

  main {
    display: block; /* Stack elements vertically */
    margin-left: 0; /* Reset margin */
    padding: 0;
  }

  
  .card-container {
    width: 100%;
  }


  .card-side {
    position: static;
    width: 100%; 
    margin-bottom: 1rem; 
    height: auto; 
    border-radius: 0;
  }

  .comment {
    display: none;
  }

  .desktop-search {
    display: none;
  }

  .suggestions-page {
    flex-direction: column;
    gap: 10px;
  }

  .tabs {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin-right: 0;
  }

  .tabs button {
    margin: 0.5rem;
    width: auto;
    padding: 10px 12px;
  }

  .suggestion-card {
    padding: 15px;
  }

  .suggestion-text,
  .suggestion-date {
    font-size: 14px;
  }

  .suggestion-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .suggestion-actions button {
    width: 100%;
    padding: 8px 10px;
    margin-top: 5px;
  }
}


@media only screen and (max-width: 768px) {
  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}